@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutZoom {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fade-in {
  animation: fadeInZoom 0.5s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOutZoom 0.4s ease-in forwards;
}

@keyframes fade-in-soft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-soft {
  animation: fade-in-soft 1s ease-out;
}
